@model ElsysConnect.Web.Models.ElsysConnectModel.CandidateViewModel

<div class="modal-body">
    <p>Tem certeza que deseja excluir o candidato @Model.Name?</p>
</div>
<div class="modal-footer">
    <form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
    </form>
</div>
